# Binaries
bot_bin
Whatskel
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Go workspace
go.work
go.work.sum

# Env files
.env

# SQLite Database
*.db
*.sqlite
*.sqlite3

# OS Specific
.DS_Store
Thumbs.db
